*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* navbar style section  */
nav{
    display: flex;
    justify-content: space-between;
    /* box-shadow: 0px 4px 8px 0px rgba(212,212,197,0.96); */
    padding: 17px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav ul li{
    color: #1C1E53;
    list-style: none;
    margin-right: 35px;
    font-size: 16px;

}
nav img{
    width: 185px;
    height: 40px;
    margin-left: 50px;
}
.home-color{
    color: #5E3BEE;
}
.btn-style-1{
    color: #5E3BEE;
    height: 40px;
    border: 1px solid #5E3BEE;
    border-radius: 5px;
    
}
.btn-style-1:hover{
    color: #FFFFFF;
    background-color: #5E3BEE;
}

/* banner style section */
.banner{
    background-color: #F5FCFF;
    display: flex;
    height: 500px;
    align-items: center;
}
.banner-title{
    margin-left: 50px;
}
.banner span{
    color: #5E3BEE;
}
.sub-title{
    font-size: 21px;
    font-weight: 600;
    color:#282938;
}
.title{
    font-size: 60px;
    font-weight: 700;
    color:#282938;
    margin-top: 21px;
}
.description{
    font-size: 24px;
    color:#1C1E53;
    margin-top: 18px;
}
.btn-style-2{
    background-color: #5E3BEE;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 18px;
    font-size: 16px;
    margin-top: 20px;
}
.banner img{
    width: 500px;
    height: 400px;
    margin-top: 18px;
}
 /* my skill style section */
 .skill-title{
    margin-left: 50px;
    margin-top: 150px;
    margin-bottom: 80px;
 }
.skill-title h3{
    color: #282938;
    font-size: 21px;
    font-weight: 600;
}
.skill-title h1{
    color: #282938;
    font-size: 64px;
    font-weight: 700;
    margin-top: 21px;
}
.skill-products{
    display: flex;
    margin-left: 50px;
    gap: 30px;
    margin-right: 35px;
    
}
.skill-div{
    width: 300px;
    height: 250px;
    background-color: #F5FCFF;
    border-radius: 5px;
    
}
.skill-div img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
}

/* about me style section */

.about-me{
    display: flex;
    height: 500px;
    align-items: center;
    margin-top: 100px;
    gap: 50px;
    margin-left: 50px;
    margin-right: 35px;
}
.about-me img{
    width: 500px;
    height: 600px;
}
.skills{
    margin-left: 20px;
}

/* Portfolio style section */
.portfolio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 35px;
}
.dribble-btn{
    background-color: #E62872;
    align-items: center;
    border: 0;
    border-radius: 7px;
    padding: 10px;
    display: flex;
    gap: 8px;
}
.btn-text{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
.dribble-pic{
    width: 32px;
    height: 32px;
}
.Portfolio-items{
    display: flex;
    gap: 40px;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 35px;
}
.card{
    width: 33%;
    height: 420px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container{
    padding: 18px;
}
.container a{
    text-decoration-style: dotted;
}
.porfolio-img{
    width: 100%;
}
.porfolio-title{
    color: #282938;
    font-size: 24px;
    font-weight: 700;
}
.portfolio-des{
    color: #1C1E53;
    font-size: 16px;
    font-weight: 400;
}

/* feedback-testimonials style section */
.feedback-section{
    height: 600px;
    background-color: #F5FCFF;
}
.testimonial-container{
    margin-left: 50px;
    margin-top: 150px;
    padding-top: 40px;
}
.feedback-container{
    display: flex;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 35px;
    gap: 40px;
}
.feed-des{
    color: #1C1E53;
    margin-top: 30px;
    font-size: 16px;
}
.feedback-box{
    width: 33%;
    height: 220px;
    border: 1px solid #006B6A;
    border-radius: 8px;
    padding-top: 7px;
    padding-left: 7px;
}
.avatar-img{
    width: 120px;
    height: 22px;
}
.avatar{
    display: flex;
    align-items: center;
    margin-top: 30px;
    gap: 15px;
}
.testimonial-img{
    width: 50px;
    height: 50px;
}
/* contact form style section */
.contact-heading{
    text-align: center;
    margin-top: 150px;
}
.form-area{
    width: 99%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    width: 90%;
    max-width: 600px;
    margin-top: 40px;
}
.form-title{
    color: #282938;
    font-size: 16px;
    
}
.input-group{
    margin-bottom: 20px;
}
input,select{
    height: 35px;
}
input,textarea,select{
    width: 100%;
    margin-top: 15px;
    border: 1.5px solid #5E3BEE;
    border-radius: 5px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row .input-group{
    flex-basis: 48%;
}
.topic-width{
    width: 100%;
}
.btn-style-3{
    background-color: #5E3BEE;
    color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    padding: 18px;
    font-size: 16px;
    margin-top: 15px;
    width: 120px;
}
/* footer section style */
.footer-area{
    width: 100%;
    height: 360px;
    margin-top: 150px;
    background-color: #F5FCFF;
}
.nav-container{
    padding-top: 50px;
}
.footer-img{
    width: 32px;
    height: 32px;
}
#last-footer{
    display: flex;
    margin-right: 35px;
    justify-content: right;
}
#last-footer li{
    list-style: none;
    margin-left: 15px;
    margin-top: 20px;
}